#login {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
  gap: 5rem;
}

#login #logo {
  height: 10vh;
  width: 100%;
  margin: auto;
}

#login #logo img {
  height: 100%;
  width: 100%;
}

#login .form {
  display: flex;
  overflow: auto;
  flex-direction: column;
  gap: 3rem;
}

#login .form #logo {
  width: 10%;
}

#login .form .input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#login .form .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

#login .form .buttons > * {
  flex: auto;
}

#login .form .invert-container .button {
  --button-color: var(--secondary);
}

#login .form .invert-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 960px) {
  #login #logo {
    max-width: 100%;
  }

  #login #logo img {
    margin: auto;
  }

  #login .form {
    margin: auto;
    width: 50%;
  }

  #login .form button {
    font-size: 1.1rem;
  }
}

@media (min-width: 1260px) {
  #login .form {
    margin: auto;
    padding: 2rem;
    border: 2px solid var(--grey);
    border-radius: 10px;
    min-width: 40%;
  }
}
