html,
body,
#root {
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout main {
  display: flex;
  overflow: hidden;
  flex: auto;
}

.main-layout main > * {
  overflow: auto;
  width: 100%;
}
