.message-container {
  --bg: #e1f4fa;

  background: var(--bg);
  padding: 1rem;
  border-radius: 1rem;
}

.message-container .message {
  font-weight: 300;
  font-family: "Lato";
}

.message-container .author-info {
  display: flex;
  position: relative;
  gap: 1rem;
}

.message-container .author-info .author {
  align-self: center;
}

.message-container .author-info .user-details {
  display: none;
  position: absolute;
  transition: opacity 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  top: 100%;
}

.message-container .metadata {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-container .metadata .action {
  flex: auto;
}

.message-container .metadata .date {
  align-self: end;
  font-size: 0.9rem;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .message-container .metadata {
    justify-content: end;
    align-items: center;
    flex-direction: row;
  }

  .message-container .author-info .user-details:hover,
  .message-container .author-info .avatar:hover ~ .user-details {
    display: block;
    z-index: 99;
  }

  .message-container .metadata .action {
    flex: initial;
  }

  .message-container .metadata .date {
    align-self: inherit;
  }
}
