.panel {
  --bg: rgb(244, 249, 250);

  background-color: var(--bg);
  min-width: 15vw;
  display: none;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.panel .title {
  margin: 0;
}

.panel .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.panel .connected {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.panel .create-message {
  width: fit-content;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .panel {
    display: flex;
  }
}
