.panel {
  --bg: rgb(244, 249, 250);

  background-color: var(--bg);
  min-width: 5vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
  gap: 2rem;
}

.panel .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
