.friend-button {
  --button-color: var(--primary);
  padding: 0 0.5rem;
}

.friend-button .friend-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.25rem;
  vertical-align: middle;
}

.friend-button.is-friend {
  --button-color: var(--secondary);
}
