.input {
  --label-font-size: 0.9rem;
  --input-padding: 0.35rem;
  --input-border: 0.2rem;
  --reveal-width: 2rem;
  --reveal-icon-size: 1.25rem;

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input .input-label {
  font-size: var(--label-font-size);
  color: var(--grey);
  transition: color 150ms ease-in;
  padding-bottom: 0.2rem;
}

.input .input-message {
  --font-size: 0.8rem;
  --top-padding: 0.25rem;

  font-size: var(--font-size);
  color: var(--grey);
  min-height: calc(var(--font-size) + var(--top-padding) + .2rem);
  padding-top: var(--top-padding);
  margin: 0;
}

.input.input.input-focused input {
  border: var(--input-border) solid var(--primary);
}

.input.input-focused .input-label {
  color: var(--primary);
}

.input.error input {
  border: var(--input-border) solid var(--red);
}

.input.error .input-label {
  color: var(--red);
}

.input.error .input-message {
  color: var(--red);
}

.input input {
  position: relative;
  border: var(--input-border) solid var(--grey-light);
  padding: var(--input-padding);
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background: var(--grey-light);
  outline: none;
  font-weight: 400;
  transition: border 150ms ease-in;
}

.input input:invalid {
  border: var(--input-border) solid var(--red);
}

.pass-reveal ~ input {
  padding-right: var(--reveal-width);
}

.input .pass-reveal {
  position: absolute;
  top: var(--margin-top);
  right: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--reveal-width);
  height: calc(var(--input-padding) * 2 + 1rem + var(--input-border) * 2);
  z-index: 1;
}

.input .pass-reveal .icon {
  vertical-align: middle;
  width: var(--reveal-icon-size);
  height: var(--reveal-icon-size);
}

.input .pass-reveal:hover {
  cursor: pointer;
}

.input::placeholder {
  color: #aaa;
}

.input .required {
  user-select: none;
  color: var(--red);
}
