.message-container {
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d1d1d1;
}

.message-container .message {
  font-family: "Open Sans";
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 0.9rem;
}

.message-container .author-info {
  display: flex;
  position: relative;
  gap: 1rem;
}

.message-container .author-info .author {
  align-self: center;
  font-weight: 700;
}

.message-container .author-info .author-display {
  color: var(--text);
  margin: 0;
}

.message-container .author-info .user-details {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  max-width: 50vw;
  transition: top 100ms cubic-bezier(0.01, 0.35, 0.58, 0.95), opacity 100ms ease;
  top: 0%;
}

.message-container .metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  font-size: 0.9rem;
  font-family: "Open Sans";
}

.message-container .metadata .likes {
  flex: 1;
  gap: 0.45rem;
  display: inline-flex;
  transition: color 250ms ease;

  font-weight: 700;
  font-size: 1rem;
}

.message-container.isLiked .metadata .likes,
.message-container.isLiked .metadata .likes .like-button {
  color: var(--pink);
}

.message-container .metadata .likes .like-button {
  color: var(--text);
  background: none;
  border: none;
}

.message-container .metadata .likes .like-button:hover {
  cursor: pointer;
  color: var(--pink);
}

.message-container .metadata .likes .like-button .like-icon {
  width: 1.2rem;
  vertical-align: middle;
  height: 1.2rem;
  transition: transform 175ms cubic-bezier(0.19, 1, 0.22, 1),
    color 175ms cubic-bezier(0.19, 1, 0.22, 1);
}

.message-container .metadata .likes .like-button .like-icon.enter {
  transform: scale(0);
}

.message-container .metadata .likes .like-button .like-icon.exit {
  transform: scale(1.33);
  color: var(--pink);
}

.message-container .metadata .date {
  flex: 1;
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.message-container .metadata .actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.message-container .metadata .actions .delete-action {
  --button-color: var(--red);
}

.message-container .metadata .actions .delete-action .icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .message-container .metadata {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .message-container .author-info .user-details:hover,
  .message-container .author-info .avatar-container:hover ~ .user-details {
    visibility: visible;
    opacity: 100%;
    top: 100%;
  }

  .message-container .metadata .actions {
    display: flex;
    justify-content: flex-end;
  }

  .message-container .metadata .actions .action {
    flex: initial;
    display: block;
  }

  .message-container .metadata .date {
    align-self: inherit;
  }
}
