.panel-action .panel-button {
  background: none;
  margin: 0;
  border: 0;
  width: 100%;
  border-radius: 15%;
}

.panel-action .panel-button .action-wrapper {
  display: inline-flex;
  padding: 0.35rem;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 1rem;
}

.panel-action .panel-button .action-wrapper:hover {
  text-decoration: none;
}

.panel-action .panel-button .action-wrapper .icon {
  vertical-align: middle;
  align-self: center;

  width: var(--element-size);
  height: var(--element-size);
  color: var(--icon);
}

.panel-action .panel-button .action-wrapper .icon:hover {
  --hover: #7cb9ff;

  cursor: pointer;
  color: var(--hover);
}
