.panel {
  --element-size: 1.66rem;

  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 0.125rem solid var(--grey-light);
  padding: 0.25rem;
}

.panel .title {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.panel .title .logo {
  width: calc(var(--element-size) * 1.25);
  height: calc(var(--element-size) * 1.25);
  vertical-align: middle;
}

.panel .avatar {
  --avatar-size: var(--element-size);
}

.panel .panel-actions {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 0;
  gap: 0.75rem;
}

.panel .search-input {
  position: relative;
  flex: 1;
  min-height: var(--element-size);
}

.panel .search-input input {
  display: none;
}

.panel .search-input .search-button {
  transition: color 125ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  height: 100%;
  width: var(--element-size);
  background: none;
  border: none;
  top: 0;
  right: 0.25rem;
}

@media screen and (min-width: 768px) {
  .panel {
    --element-size: 1.5rem;

    border-bottom: 0.25rem solid var(--grey-light);
    padding: 0.5rem 2rem;
  }

  .panel .title .logo {
    width: calc(var(--element-size) * 2);
    height: calc(var(--element-size) * 2);
  }

  .panel .search-input {
    flex: inherit;
    width: 50vw;
  }

  .panel .search-input input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    padding-right: calc(var(--element-size) + 0.25rem);
    border: 2px solid var(--grey);
    background: var(--grey-light);
    border-radius: 0.25rem;
  }

  .panel .search-input input:focus {
    border: 3px solid var(--primary);
    outline: none;
  }

  .panel .search-input input:focus ~ .search-button {
    color: var(--primary);
  }
}
