.toast {
  display: flex;
  gap: 2rem;
  box-shadow: 1px 1px 4px rgba(10, 10, 10, 0.45);
  padding: 1rem;
  color: var(--text-invert);
  font-weight: bold;
  align-items: center;
}

.toast .toast-icon .icon {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

.toast.error {
  background-color: var(--red);
}

.toast.info {
  background-color: var(--secondary);
}

.toast.warning {
  background-color: var(--warning);
}
