.user {
  --bg: var(--grey-light);

  background: var(--bg);
  border: 2px var(--bg) solid;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); */
}

.user.friend {
  --bg: #c8e5ff;
}

.user .picture {
  width: 5rem;
}

.user .picture img {
  max-width: 100%;
  border-radius: 50%;
}

.user .name {
  align-self: start;
  font-weight: 700;
  margin-top: 0;
}

.user .description {
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .user {
    flex-direction: row;
    gap: 2rem;
  }

  .user .text {
    flex: 2;
  }

  .user .action {
    align-self: flex-end;
    flex: 1;
  }
}