html,
body,
#root {
  overflow: hidden;
}

.main-layout {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.main-layout main {
  display: flex;
  padding: 0 .5rem;
  flex: auto;
  overflow: auto;
}
.main-layout main > * {
  flex: auto;
}
